anndata==0.13.3.post0
annotated-types==0.8.0
array-api-compat==1.15.0
cell-eval2==0.16.0
cellstream==0.10.0
certifi==2026.7.22
cloudpickle==3.1.2
contourpy==1.4.0
cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cuda-toolkit==13.0.3.0
cupy-cuda12x==14.2.0
cycler==0.12.1
donfig==0.8.1.post1
fast-array-utils==1.5
filelock==3.32.3
fonttools==4.65.0
formulaic==1.2.2
fsspec==2026.7.0
google-crc32c==1.8.0
gpudge==0.9.1
h5py==3.16.0
hdf5plugin==7.1.0
interface-meta==2.0.1
jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
legacy-api-wrap==1.5
llvmlite==0.49.0
markupsafe==3.0.3
matplotlib==3.11.2
mpmath==1.3.0
narwhals==2.26.0
natsort==8.4.0
networkx==3.6.1
numba==0.67.0
numba-mwu==0.2.0
numcodecs==0.16.5
numpy==2.5.3
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.24.0.43
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-libnvcomp-cu12==5.3.0.16
nvidia-nccl-cu13==2.30.7
nvidia-nvcomp-cu12==5.3.0.16
nvidia-nvjitlink==13.3.33
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==26.3
pandas==3.0.5
patsy==1.0.3
pdex==0.3.0
pillow==12.3.0
polars==1.44.2
polars-runtime-32==1.44.2
pyarrow==25.0.1
pydantic==2.13.5
pydantic-core==2.46.5
pydantic-settings==2.15.0
pynndescent==0.6.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pyyaml==6.0.3
scanpy==1.12.4
scikit-learn==1.9.1
scipy==1.18.1
scverse-misc==0.1.6
seaborn==0.13.2
session-info2==0.4.2
setuptools==78.1.0
six==1.17.0
statsmodels==0.15.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.14.0+cu130
tqdm==4.70.1
triton==3.8.0
typing-extensions==4.16.0
typing-inspection==0.4.4
umap-learn==0.5.12
wrapt==2.4.1
zarr==3.3.0
zstandard==0.25.0
